.accordion {
    flex-direction: row;
    width: 10vw;
  }
  
  .accordion.open {
    flex-direction: column;
  }
  
  .accordion-header {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
  }
  
  .accordion.open {
    display: block;
  }

  .content_center_align {
    text-align: center;
    text-decoration: none;
    
  }
 
